.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

textarea {
  padding: 10px 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  resize: none;
  width: 95%;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

textarea:focus {
  border-color: #4facfe;
  box-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
}

.send-btn {
  margin-top: 8px;
  padding: 10px 15px;
  background: linear-gradient(90deg,#4facfe,#00f2fe);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.send-btn:hover {
  background: linear-gradient(90deg,#00f2fe,#4facfe);
}

.info {
  text-align: right;
  font-size: 12px;
  color: #555;
  margin-top: 2px;
}
