.message-wrapper {
  display: flex;
  width: 100%;
}

/* Animations */
.message-animation-enter {
  opacity: 0;
  transform: translateY(15px) scale(0.95);
}

.message-animation-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: all 300ms ease;
}

.message-animation-exit {
  opacity: 1;
}

.message-animation-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms ease;
}
